.logout-btn
{
   border-radius: 10px;
    background: white !important;
    border: none;
    color: #000000c4;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;


}