
.sidebar-profile {
  text-align: center;
  padding: 16px 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profile-name {
  font-weight: 600;
  font-size: 14px;
  color: rgb(77, 69, 69);
}

.profile-email {
  font-size: 11px;
  color: #2c2c30;
  
}


.profile-id {
  font-size: 10px;
  color: #37373a;
 
}

